/* Hide scrollbar for Chrome and Safari users */
::-webkit-scrollbar {
  display: none;
}

/* Define CSS variables */
:root {
  --body-bg-color: #222;
  --green-bg-color: #4CAF50;
  --header-bg-color: #263238;
  --borders-color: #4CAF50;
  --text-color: #222;
  --text-color-secondary: #81C784;
  --input-text-color: #777;
  --links-color: #F44336;
  --links-color-secondary: #EF5350;
  --basic-font: 'Quicksand', sans-serif;
}

html, body {
  background-color: var(--body-bg-color);
  font-family: var(--basic-font);
}

header {
  background-color: var(--header-bg-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

.tmdb_logo {
  width: 10rem;
  margin-left: .5rem;
}

#searchInput {
  width: 30rem;
  margin-top: 1rem;
  color: var(--text-color-secondary);
  font-size: 1.2rem;
  background-color: var(--header-bg-color);
  border-radius: 0;
  box-shadow: none;
  border-top:0 !important; 
  border-left:0 !important; 
  border-right:0 !important; 
  border-bottom:1px solid var(--borders-color);
}

#selectBox {
  width: 12rem; 
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #777;
  background-color: var(--header-bg-color);
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border-top:0 !important; 
  border-left:0 !important; 
  border-right:0 !important; 
  border-bottom:1px solid var(--borders-color);
}

.container-fluid {
  margin-top: 7rem;
  margin-bottom: 3.5rem;
}

.card {
  margin-bottom: 2rem;
  border: 0;
}

.card p{
  margin: 0;
}

.card-body {
  background-color: var(--header-bg-color);
  color: var(--text-color-secondary);
  font-size: 1rem;
}

.card-body.rating {
  font-weight: bold;
}

.rating{
  text-align: right;
  font-size: 2rem;
}

.genres {
  background-color: #263238;
  font-size: .9rem;
  font-style: italic;
  color: #fff;
  text-align: right;
  padding: 1rem 1.5rem;
  border-top: 1px solid #fff;
}

.overview {
  background-color: var(--green-bg-color);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}

.overview a{
  color: #fff;
  text-decoration: none;
}

.overview a:hover {
  color: #222;
  text-decoration: none;
}

footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  opacity: .9;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  background-color: var(--header-bg-color);
}

footer a{
  color: var(--links-color);
  text-decoration: none;
}

footer a:hover, 
footer a:active, 
footer a:visited {
  color: var(--links-color-secondary);
  text-decoration: none;
}

@media (max-width: 767px) {

  header {
    padding: .5rem;
    margin: 0;
    opacity: .8;
  }

  .tmdb_logo {
    width: 6rem;
    margin: 0;
    float: right;
  }

  #searchInput {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
  }
  
  #selectBox {
    width: 100%; 
    margin-top: 1rem;
    font-size: 1rem;
  }

  .container-fluid {
    margin-top: 11rem;
    margin-bottom: 1.5rem;
  }
  
  .card {
    margin-bottom: 1rem;
  }
  
  .card-body {
    font-size: .9rem;
  }

  .rating{
    font-size: 1.5rem;
  }

  .genres{
    font-size: .8rem;
    padding: .5rem 1.5rem;
  }

  .overview{
    font-size: .8rem;
    padding: .5rem;
  }

  footer {
    padding: .1rem;
    font-size: 1rem
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  header {
    padding: .5rem;
    margin: 0;
    opacity: .8;
  }

  .tmdb_logo {
    width: 6rem;
    margin: 0 .5rem;
  }

  #searchInput {
    width: 98%;
    font-size: .9rem; 
    margin-top: .2rem;
  }
  
  #selectBox {
    width: 100%;
    margin-top: 0;
    font-size: .9rem;
  }

  .container-fluid {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
  }
  
  .card {
    margin-bottom: 1.5rem;
  }
  
  .card-body {
    font-size: .7rem;
  }

  .rating{
    font-size: 1.3rem;
  }

  .genres{
    font-size: .7rem;
    padding: .5rem 1.5rem;
  }

  .overview{
    font-size: .7rem;
    padding: .5rem;
  }

  footer {
    padding: .3rem;
    font-size: 1rem;
  }

}

@media (min-width: 1024px) and (max-width: 1439px) {

  header {
    padding: .5rem;
    margin: 0;
    opacity: .8;
  }

  .tmdb_logo {
    width: 6rem;
    margin: 0 .5rem;
  }

  #searchInput {
    width: 98%;
    font-size: 1rem; 
    margin-top: .2rem;
  }
  
  #selectBox {
    width: 100%;
    margin-top: .2rem;;
    font-size: 1rem;
  }

  .container-fluid {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
  }
  
  .card {
    margin-bottom: 1.5rem;
  }
  
  .card-body {
    font-size: .7rem;
  }

  .rating{
    font-size: 1.5rem;
  }

  .genres{
    font-size: .7rem;
    padding: .5rem 1.5rem;
  }

  .overview{
    font-size: .7rem;
    padding: .5rem;
  }

  footer {
    padding: .3rem;
    font-size: 1rem;
  }

}
