:root {
  --body-bg-color: #222;
  --header-bg-color: #263238;
  --borders-color: #4CAF50;
  --text-color: #777;
  --text-color-secondary: #81C784;
  --links-color: #F44336;
  --links-color-secondary: #EF5350;
}

html, body {
  background-color: var(--body-bg-color);
}

header {
  background-color: var(--header-bg-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

.tmdb_logo {
  width: 10rem;
  margin-left: 1rem;
}

#searchInput {
  width: 30rem;
  margin-top: 1rem;
  color: var(--text-color);
  background-color: var(--header-bg-color);
  border-radius: 0;
  box-shadow: none;
  border-top:0 !important; 
  border-left:0 !important; 
  border-right:0 !important; 
  border-bottom:1px solid var(--borders-color);
}

#selectBox {
  width: 12rem; 
  margin-top: 1rem;
  color: var(--text-color);
  background-color: var(--header-bg-color);
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border-top:0 !important; 
  border-left:0 !important; 
  border-right:0 !important; 
  border-bottom:1px solid var(--borders-color);
}

.container-fluid {
  margin-top: 7rem;
}

.card {
  margin-bottom: 2rem;
  border: 0;
}

.card p{
  margin: 0;
}

.card-title {
  font-size: 1.1rem;
}

.relese_date {
  font-size: .8rem;
}

.votes {
  font-size: 1.2rem;
  opacity: 1;
  text-align: right;
}

.genre {
  font-size: .8rem;
  font-style: italic;
  opacity: .7;
}

.raiting {
  font-size: 1.2rem;
  opacity: 1;
}

.overview {
  font-size: .8rem;
  float: right;
  background-color: var(--borders-color);
}

hr.split_info {
  margin: 1rem auto;
  background-color: var(--borders-color);
}

footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  opacity: .9;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  background-color: var(--header-bg-color);
}

footer a{
  color: var(--links-color);
  text-decoration: none;
}

footer a:hover, 
footer a:active, 
footer a:visited {
  color: var(--links-color-secondary);
  text-decoration: none;
}
